{% set callCount = calls|length %}
    {% set errorCount = errors|length %}

    {% set cacheHitCount = 0 %}
    {% set cacheMissCount = 0 %}

    {% for call in calls|filter(call => call.cache is defined and call.cache == 'HIT') %}
        {% if call.cache == 'HIT' %}
            {% set cacheHitCount = cacheHitCount + 1 %}
        {% else %}
            {% set cacheMissCount = cacheMissCount + 1 %}
        {% endif %}
    {% endfor %}

    {% set mockReplayCount = 0 %}
    {% set mockRecordCount = 0 %}

    {% for call in calls|filter(call => call.mock is defined) %}
        {% if call.mock == 'REPLAY' %}
            {% set mockReplayCount = mockReplayCount + 1 %}
        {% else %}
            {% set mockRecordCount = mockRecordCount + 1 %}
        {% endif %}
    {% endfor %}

    {% if callCount == 0 %}
        {% set color_code = '' %}
    {% elseif errorCount > 0 %}
        {% set color_code = 'red' %}
    {% else %}
        {% set color_code = 'green' %}
    {% endif %}


<div class="">
    <strong>HTTP calls </strong>
    {% if calls is not empty %}
        <span class="count">
                    <span>{{ calls|length }}</span>
                    {% if totalTime > 0 %}
                        <span>{{ totalTime|csa_guzzle_format_duration }}</span>
                    {% endif %}
                </span>
    {% endif %}
</div>

<div class="sf-toolbar-block">
    <div class="sf-toolbar-info-piece">
        <b>Success</b>
        <span class="sf-toolbar-status sf-toolbar-status-green">{{ callCount - errorCount }}</span>
    </div>

    {% if cacheHitCount %}
        <div class="sf-toolbar-info-piece">
            <b>Cache HIT</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ cacheHitCount }}</span>
        </div>
    {% endif %}
    {% if cacheMissCount %}
        <div class="sf-toolbar-info-piece">
            <b>Cache MISS</b>
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ cacheMissCount }}</span>
        </div>
    {% endif %}
    {% if mockReplayCount %}
        <div class="sf-toolbar-info-piece">
            <b>Mocks (replayed)</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ mockReplayCount }}</span>
        </div>
    {% endif %}
    {% if mockRecordCount %}
        <div class="sf-toolbar-info-piece">
            <b>Mocks (recorded)</b>
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ mockRecordCount }}</span>
        </div>
    {% endif %}
    {% if errorCount %}
        <div class="sf-toolbar-info-piece">
            <b>Errors</b>
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ errorCount }}</span>
        </div>
    {% endif %}
</div>

<style>
    .count {
        margin-left: 1rem;
    }

    .count span { margin-left: 1rem; }
</style>